<app-menu></app-menu>
<body>
  <ul class="menu">
    <li class="dropdown">
      <a routerLink="/home">Books</a>
      <ul class="submenu">
        <li><a routerLink="/all-books">All Books</a></li>
        <li><a routerLink="/add-book">Insert Book</a></li>
        <li><a routerLink="/add-multiple-books">Add Multiple Books</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a routerLink="/home">Student</a>
      <ul class="submenu">
        <li><a routerLink="/add-student">Enroll</a></li>
        <li><a routerLink="/all-students">All Students</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a routerLink="/home">User</a>
      <ul class="submenu">
        <li><a routerLink="/add-user">Register</a></li>
        <li><a routerLink="/get-all-users">All Users</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a routerLink="/home">Teacher</a>
      <ul class="submenu">
        <li><a routerLink="/add-teacher">Enroll</a></li>
        <li><a routerLink="/get-all-teachers">All Teachers</a></li>
      </ul>
    </li>
  </ul>
</body>
<app-footer></app-footer>
